* {
  justify-content: center;
}

header {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  width: 100%;
  height: 4.5rem;
}

h1 {
  position: relative;
  margin-top: 12rem;
}

body {
  background-color: #E5F3F2;
  font-family: 'Open Sans', serif;
  font-weight: 400;
  text-align: center; 
}

.first-forms {
  height: 50%;
  width: 100%;
}

.headerIdea {
  color: #00A79D;
  text-align: center;
  display: inline;
  font-size: 2rem;
} 

.headerBox {
  color: #6D6E71;
  display: inline;
  font-size: 2rem;
}

.ideaTitle {
  height: 1.7rem;
  width: 82%;
  border: .1rem solid lightgrey;
  font-size: 1.2rem;
  padding: .1rem .4rem;
  margin-bottom: 1rem;
}

.ideaDescription{
  width: 82%;
  height: 5.75rem;
  border: .1rem solid lightgrey;
  padding: .1rem .4rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#saveButton {
  margin-bottom: 1rem;
  width: 87%;
  height: 2rem; 
  background-color: #00A79D;
  font-size: 16px;
  color: white;
}

#saveButton:hover {
  background-color: #045E55;
}

section {
  background-color: #ffffff;
  width: 100%;
  /*height: 100vh; */
}

.formField {
  height: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.searchField{
  margin-top: 1rem;
  text-align: left;
  width: 82%;
  height: 2rem;
  border: .1rem solid lightgrey;
  font-size: large;
  color: lightgrey;
  padding-left: .5rem;
}

/*--------------------------------*/

article {
  position: relative;
  background-color: #ffffff;
  width: 80%;
  height: 40%;
  border: 10px solid blue;
}

h2 {
  display: inline-block;
  text-align: left;
  width: 70%;
  color: #6D6E71;
}

p {
  justify-content: left;
  text-align: center;
  padding-left: 1rem 0 0 2rem;
  width: 70%;
  color: #939598;
}

.deleteImg {
  object-position: top;
  text-align: right;
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.deleteImg:hover {
  width: 1rem;
  height: 1rem;
}

.upvoteImg {
  display: inline-block;
  object-position: bottom;
  text-align: left;
  width: 1rem;
  height: 1rem;
}

.upvoteImg:hover {
  width: 1rem;
  height: 1rem;
}

.downvoteImg {
  display: inline-block;
  object-position: bottom;
  text-align: left;  
  width: 1rem;
  height: 1rem;

}

.downvoteImg:hover {
  width: 1rem;
  height: 1rem;
}

.selector {
  color: #d1d3d4;
}

















