header {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  margin: .75rem 0;
}

body {
  background-color: #E5F3F2;
  font-family: 'Open Sans', serif;
  font-weight: 400;
  text-align: center; 
}

.header-idea {
  color: #00A79D;
  text-align: center;
  display: inline;
} 

.header-box {
  color: #6D6E71;
  display: inline;
}

.idea-title {
  height: 1.7rem;
  width: 17rem;
  border: .1rem solid lightgrey;
  font-size: 1.2rem;
  padding: .1rem .4rem;
  margin-bottom: 1rem;
}

.idea-description{
  width: 17rem;
  height: 5.75rem;
  border: .1rem solid lightgrey;
  padding: .1rem .4rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

section {
  background-color: white; 
}

.save {
  width: 100%;
  padding: 10px;
  color:#ffffff;
  background-color: #00A79D;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  margin: 14px auto;
}

.main-title {
  font-color: #00A79D;
}

.save-button {
  : center;
}





















